<div class="row">
  <mat-spinner *ngIf="!news" class="loader container d-flex justify-content-center"></mat-spinner>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10"
    *ngFor="let article of news?.articles"
  >
    <mat-card>
      <img
        mat-card-image
        *ngIf="article.urlToImage"
        [src]="article.urlToImage"
        alt=""
      />
      <mat-card-header>
        <mat-card-title>{{ article.title }}.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ article.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onFavorite(article)"><i class="fa fa-heart"></i> Favourite</button>
        <button mat-button (click)="readMore(article.url)"><i class="fa fa-window-restore" aria-hidden="true"></i> Read More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
></mat-paginator>
